.navBar {
  margin: auto;
  padding-top: 15px;
  background-color: #fff;
  width: 80%;
}

.navBar > nav {
  justify-content: space-evenly;
  display: flex;
  font-style: italic;
  font-size: 20px;
  margin: auto;
  padding-bottom: 15px;
}

.navBar > nav > div > a {
  padding-right: 30px;
}

.navBar a:hover,
.navBar a:active,
.navBar a.active {
  text-decoration: none;
  list-style-type: none;
  color: rgb(252, 168, 13);
}

.boutique,
.pagesLink {
  color: #333;
  text-decoration: none;
}

.boutique {
  margin: auto;
  text-transform: uppercase;
  font-size: 20px;
}
